* {
    font-family: Montserrat;
}

h1 {
    font-family: Permanent Marker;
}

/* view section */
.todoContainer {
    margin-top: 5px;
    max-width: 65vw;
    cursor: move;
    user-select: none;
}

.todoContainer span {
    margin-right: 5px;
}

.todoContainer button {
    font-size: 12px;
    float: right;
    margin-left: 5px;
}

.todoContainer .todoContainer {
    margin-left: 15px;
}