/* view section */
.todoContainer {
    margin-top: 5px;
    max-width: 65vw;
    background-color: lightgrey;
    cursor: move;
    user-select: none;
}

.todoContainer span {
    margin-right: 0.5em;
}

.todoContainer button {
    font-size: 12px;
    float: right;
    margin-left: 5px;
}

.todoContainer .todoContainer {
    margin-left: 15px;
}