* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

/* control section */
#controlSection {
    width: 100vw;
    position: fixed;
    top: 0rem;
    padding-top: 2rem;
    padding-left: 1rem;
    background-color: #18b0bd;
    z-index: 1;
}

#controlSection h1 {
    font-family: Chewy;
    font-size: 4rem;
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
    color: #15599d;
    text-shadow: 1.5px 1.5px white;
}

/* view section */
section {
    font-size: 1rem;
    position: absolute;
    padding-top: 10rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

.todoContainer {
    margin-top: 0.3rem;
    padding: 0.2rem;
    width: 75vw;
    cursor: move;
    user-select: none;
}

.todoContainer span {
    margin-right: 1rem;
    margin-left: 1rem;
    display: inline-block;
    height: 1.2rem;
    overflow: auto;
}

.todoContainer .todoText {
    max-width: 33rem;
}

.todoContainer button {
    font-size: 0.8rem;
    float: right;
    margin-left: 1rem;
}

.todoContainer .todoContainer {
    width: 73.5vw;
    margin-left: 1vw;
}

/* action section */
#actionSection {
    position: fixed;
    height: 100vh;
    right: 0vw;
    /* padding-right: 8vw; */
    text-align: center;
    background-color: #18b0bd;
}

#actionSection p {
    width: 15rem;
    margin-bottom: 0.5rem;
}

#actionSection button {
    font-size: 0.8rem;
    margin-right: 1rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 10%;
    border-width: 0px;
    box-shadow: 2px 2px 4px black;
    background-color: #15599d;
    color: white;
    font-weight: bold;
    z-index: 1;
}

#actionSection #deleteChecked {
    width: 10rem;
    height: 3.5rem;
    border-radius: 5%;
}

#actionSection img {
    width: 16rem;
    height: auto;
    padding-top: 5px;
    z-index: 0;
}